<html>
<head>
    <title>Repeat Counter</title>
</head>
    <h1>Count them words!!</h1><br>

     <form action='/result_page'>
      <div class="form-group">
        <label for='input'>Word</label><br>
        <input id='input' name='input' class="form-control" type='text'>
      </div>
      <div class="form-group">
        <label for='input2'>Words</label><br>
        <input id='input2' name='input2' class="form-control" type='text'>
      </div>
        <button type='submit'>Let's find out</button>
    </form>
</body>
</html>
